<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--Angualr refrence file for auto complete text box starts-->  
    <script src = "/Scripts/angular.min.js"></script>  
    <script src = "/Scripts/angular-route.min.js" ></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.4.1/angucomplete-alt.min.js"></script>   
    <link href = "/Content/angucomplete-alt.css" rel = "stylesheet" />  
    <script src = "/Scripts/App/app.js" > </script>  
    <!--Angualr refrence file for auto complete text box starts-->  
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
